body {
	font-family: Arial, sans-serif;
	background-color: #fafafa;
	margin: 0;
	padding: 0;
	background-color: black;
  }
  
  .container {
	max-width: 600px;
	margin: 0 auto;
	padding: 20px;
  }
  
  .post {
	background-color: #fff;
	margin-bottom: 20px;
	padding: 10px;
	border: 1px solid #ddd;
	border-radius: 5px;
  }
  
  .post img {
	width: 100%;
	border-radius: 5px;
  }
  
  .post p {
	margin-top: 10px;
  }
  .hastag{
	color: blue;
  }
  h1{
	justify-content: center;
	display: flex;
	color: white;
	font-family: cursive;
  }
  .p{
	display:flex;
	justify-content:space-between;
	
  }

  